<img src = "https://datahack.analyticsvidhya.com/media/__sized__/contest_cover/WNS-Analytics-Hackathon_1920-x-480px_1303P9x-thumbnail-1200x1200-90.jpg">

## Data Acquisition

In [110]:
import numpy as np
import pandas as pd

In [111]:
item_data_df = pd.read_csv(r'C:\Users\Varun Kurup\Documents\item_data.csv')

In [112]:
item_data_df.head()

   item_id  item_price  category_1  category_2  category_3  product_type
0    26880        4602          11          35          20          3040
1    54939        3513          12          57          85          6822
2    40383         825          17           8         279          1619
3     8777        2355          13          58         189          5264
4   113705        1267          17          39         151         10239

In [113]:
train_df = pd.read_csv(r'C:\Users\Varun Kurup\Documents\train.csv')

In [114]:
train_df.head()

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1
2,70efdf2ec9b086079795c442636b55fb,2018-11-15 00:02:00,71748,259,intermediate,1,0
3,8e296a067a37563370ded05f5a3bf3ec,2018-11-15 00:02:00,69209,244,latest,1,0
4,182be0c5cdcd5072bb1864cdee4d3d6e,2018-11-15 00:02:00,62873,473,latest,0,0

In [115]:
train_df['impression_time']=pd.to_datetime(train_df['impression_time'])
time=train_df['impression_time']

In [116]:
train_df['impression_time']=train_df['impression_time'].dt.time

In [117]:
print(train_df['impression_time'])

0         00:00:00
1         00:01:00
2         00:02:00
3         00:02:00
4         00:02:00
            ...
237604    07:40:00
237605    07:41:00
237606    07:42:00
237607    07:43:00
237608    07:43:00
Name: impression_time, Length: 237609, dtype: object

In [118]:
train_df['impression_time']=train_df['impression_time'].to_list()
print(train_df['impression_time'])

0         00:00:00
1         00:01:00
2         00:02:00
3         00:02:00
4         00:02:00
            ...
237604    07:40:00
237605    07:41:00
237606    07:42:00
237607    07:43:00
237608    07:43:00
Name: impression_time, Length: 237609, dtype: object

In [119]:
train_df.impression_time.unique

<bound method Series.unique of 0         00:00:00
1         00:01:00
2         00:02:00
3         00:02:00
4         00:02:00
            ...
237604    07:40:00
237605    07:41:00
237606    07:42:00
237607    07:43:00
237608    07:43:00
Name: impression_time, Length: 237609, dtype: object>

In [120]:
view_log_df = pd.read_csv(r'C:\Users\Varun Kurup\Documents\view_log.csv')

In [121]:
view_log_df.head()

        server_time device_type  session_id  user_id  item_id
0  15-10-2018 08:58     android      112333     4557    32970
1  15-10-2018 08:58     android      503590    74788     7640
2  15-10-2018 08:58     android      573960    23628   128855
3  15-10-2018 08:58     android      121691     2430    12774
4  15-10-2018 08:58     android      218564    19227    28296

## Data Preprocessing

In [8]:
#Check Null values for item_data.csv

In [9]:
item_data_df.item_id.isnull().value_counts()

False    132761
Name: item_id, dtype: int64

In [10]:
item_data_df.item_price.isnull().value_counts()

False    132761
Name: item_price, dtype: int64

In [11]:
item_data_df.category_1.isnull().value_counts()

False    132761
Name: category_1, dtype: int64

In [12]:
item_data_df.category_2.isnull().value_counts()

False    132761
Name: category_2, dtype: int64

In [13]:
item_data_df.category_3.isnull().value_counts()

False    132761
Name: category_3, dtype: int64

In [14]:
item_data_df.product_type.isnull().value_counts()

False    132761
Name: product_type, dtype: int64

In [15]:
#Check null values for train.csv

In [16]:
train_df.impression_id.isnull().value_counts()

False    237609
Name: impression_id, dtype: int64

In [17]:
train_df.impression_time.isnull().value_counts()

False    237609
Name: impression_time, dtype: int64

In [18]:
train_df.user_id.isnull().value_counts()

False    237609
Name: user_id, dtype: int64

In [19]:
train_df.app_code.isnull().value_counts()

False    237609
Name: app_code, dtype: int64

In [20]:
train_df.os_version.isnull().value_counts()

False    237609
Name: os_version, dtype: int64

In [21]:
train_df.is_4G.isnull().value_counts()

False    237609
Name: is_4G, dtype: int64

In [22]:
train_df.is_click.isnull().value_counts()

False    237609
Name: is_click, dtype: int64

In [23]:
#Check null values for view_log.csv

In [24]:
view_log_df.server_time.isnull().value_counts()

False    3118622
Name: server_time, dtype: int64

In [25]:
view_log_df.server_time.isnull().value_counts()

False    3118622
Name: server_time, dtype: int64

In [26]:
view_log_df.device_type.isnull().value_counts()

False    3118622
Name: device_type, dtype: int64

In [27]:
view_log_df.session_id.isnull().value_counts()

False    3118622
Name: session_id, dtype: int64

In [28]:
view_log_df.user_id.isnull().value_counts()

False    3118622
Name: user_id, dtype: int64

In [29]:
view_log_df.item_id.isnull().value_counts()

False    3118622
Name: item_id, dtype: int64

### Data has no null values!

### Eliminating Features

In [122]:
train_df = train_df[['app_code','os_version','is_4G','is_click','user_id']]
train_df.head()

   app_code    os_version  is_4G  is_click  user_id
0       422           old      0         0    87862
1       467        latest      1         1    63410
2       259  intermediate      1         0    71748
3       244        latest      1         0    69209
4       473        latest      0         0    62873

In [123]:
item_data_df = item_data_df[['item_price','category_1','category_2','category_3','product_type']]

In [124]:
item_data_df.head()

   item_price  category_1  category_2  category_3  product_type
0        4602          11          35          20          3040
1        3513          12          57          85          6822
2         825          17           8         279          1619
3        2355          13          58         189          5264
4        1267          17          39         151         10239

In [125]:
view_log_df = view_log_df.device_type

In [126]:
view_log_df = pd.DataFrame(view_log_df.head())

In [127]:
view_log_df.head()

  device_type
0     android
1     android
2     android
3     android
4     android

In [128]:
test_df = pd.read_csv(r'C:\Users\Varun Kurup\Documents\test.csv')
test_df.head()

,impression_id,impression_time,user_id,app_code,os_version,is_4G
0,a9e7126a585a69a32bc7414e9d0c0ada,13-12-2018 07:44,44754,127,latest,1
1,caac14a5bf2ba283db7708bb34855760,13-12-2018 07:45,29656,44,latest,0
2,13f10ba306a19ce7bec2f3cae507b698,13-12-2018 07:46,25234,296,latest,1
3,39c4b4dc0e9701b55a0a4f072008fb3f,13-12-2018 07:47,22988,207,latest,1
4,bf5a572cca75f5fc67f4b14e58b11d70,13-12-2018 07:48,35431,242,latest,1

In [129]:
train_df.head()

   app_code    os_version  is_4G  is_click  user_id
0       422           old      0         0    87862
1       467        latest      1         1    63410
2       259  intermediate      1         0    71748
3       244        latest      1         0    69209
4       473        latest      0         0    62873

### One-Hot Encoding

In [130]:
train_df.os_version.unique() #finds the classes of the os_version

array(['old', 'latest', 'intermediate'], dtype=object)

In [131]:
dummies = pd.get_dummies(train_df.os_version)
dummies['old'] = dummies['old'].astype(int)
dummies['latest'] = dummies['latest'].astype(int)
dummies['intermediate'] = dummies['intermediate'].astype(int)
dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237609 entries, 0 to 237608
Data columns (total 3 columns):
intermediate    237609 non-null int32
latest          237609 non-null int32
old             237609 non-null int32
dtypes: int32(3)
memory usage: 2.7 MB

In [132]:
train_df = train_df.drop('os_version',axis = 1)

In [133]:
features = pd.concat([train_df,dummies] , axis = 1)
features.head()

   app_code  is_4G  is_click  user_id  intermediate  latest  old
0       422      0         0    87862             0       0    1
1       467      1         1    63410             0       1    0
2       259      1         0    71748             1       0    0
3       244      1         0    69209             0       1    0
4       473      0         0    62873             0       1    0

In [134]:
dummies = pd.get_dummies(test_df.os_version)
dummies['old'] = dummies['old'].astype(int)
dummies['latest'] = dummies['latest'].astype(int)
dummies['intermediate'] = dummies['intermediate'].astype(int)
dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90675 entries, 0 to 90674
Data columns (total 3 columns):
intermediate    90675 non-null int32
latest          90675 non-null int32
old             90675 non-null int32
dtypes: int32(3)
memory usage: 1.0 MB

In [135]:
test_df = test_df.drop('os_version',axis = 1)

In [136]:
test_df = pd.concat([test_df,dummies] , axis = 1)
test_df.head()

,impression_id,impression_time,user_id,app_code,is_4G,intermediate,latest,old
0,a9e7126a585a69a32bc7414e9d0c0ada,13-12-2018 07:44,44754,127,1,0,1,0
1,caac14a5bf2ba283db7708bb34855760,13-12-2018 07:45,29656,44,0,0,1,0
2,13f10ba306a19ce7bec2f3cae507b698,13-12-2018 07:46,25234,296,1,0,1,0
3,39c4b4dc0e9701b55a0a4f072008fb3f,13-12-2018 07:47,22988,207,1,0,1,0
4,bf5a572cca75f5fc67f4b14e58b11d70,13-12-2018 07:48,35431,242,1,0,1,0

### Balance Datsets

In [80]:
count_class_0, count_class_1 = features.is_click.value_counts()
features.is_click.value_counts()

0    226747
1     10862
Name: is_click, dtype: int64

In [81]:
df_class_0 = features[features['is_click'] == 0]
df_class_1 = features[features['is_click'] == 1]

In [82]:
df_class_0_under = df_class_0.sample(count_class_1)

In [83]:
df_test_under = pd.concat([df_class_0_under, df_class_1], axis=0)

In [84]:
df_test_under.is_4G.value_counts()

0    13968
1     7756
Name: is_4G, dtype: int64

In [85]:
df_test_under.head()

        app_code  is_4G  is_click  user_id  intermediate  latest  old
179998       190      1         0    16783             0       1    0
157681       249      1         0    55838             0       1    0
138598       207      0         0    64713             0       1    0
222510       463      0         0     9253             0       1    0
14709        144      0         0    68259             1       0    0

In [102]:
X_train = df_test_under[['app_code','intermediate','latest','old','is_4G']]
y_train = df_test_under['is_click']
X_test = test_df[['app_code','intermediate','latest','old','is_4G',]]

In [103]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
clf1=LogisticRegression()
clf1.fit(np.array(X_train),np.array(y_train))

C:\Users\Varun Kurup\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [104]:
y_pred = clf1.predict(X_test)

In [105]:
y_pred = pd.DataFrame(y_pred)
y_pred.head()

   0
0  0
1  0
2  0
3  0
4  0

In [106]:
impression_id = pd.DataFrame(test_df['impression_id'])

In [107]:
submit_df = pd.concat([impression_id,y_pred],axis = 1)

In [108]:
y_pred.shape

(90675, 1)

In [109]:
submit_df.head()

                      impression_id  0
0  a9e7126a585a69a32bc7414e9d0c0ada  0
1  caac14a5bf2ba283db7708bb34855760  0
2  13f10ba306a19ce7bec2f3cae507b698  0
3  39c4b4dc0e9701b55a0a4f072008fb3f  0
4  bf5a572cca75f5fc67f4b14e58b11d70  0

In [110]:
submit_df.columns = ['impression_id','is_click']

In [111]:
submit_df.head()

                      impression_id  is_click
0  a9e7126a585a69a32bc7414e9d0c0ada         0
1  caac14a5bf2ba283db7708bb34855760         0
2  13f10ba306a19ce7bec2f3cae507b698         0
3  39c4b4dc0e9701b55a0a4f072008fb3f         0
4  bf5a572cca75f5fc67f4b14e58b11d70         0

In [112]:
clf1.score(X_train,y_train)

0.5255017492174553

In [287]:
#submit_df.to_csv('submission.csv')

In [113]:
x__train,x__test,y__train,y__test = train_test_split(X_train,y_train)

In [114]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
Ks = 10
mean_acc = np.zeros((Ks-1))
std_acc = np.zeros((Ks-1))
ConfustionMx = []

In [115]:
for n in range(1,Ks):
    
    #Train Model and Predict  
    neigh = KNeighborsClassifier(n_neighbors = n).fit(x__train,y__train)
    yhat=neigh.predict(x__test)
    mean_acc[n-1] = metrics.accuracy_score(y__test, yhat)

    
    std_acc[n-1]=np.std(yhat==y__test)/np.sqrt(yhat.shape[0])

mean_acc

array([0.55974959, 0.54759713, 0.56582581, 0.55477813, 0.57079727,
       0.59141963, 0.60725465, 0.60449273, 0.60467686])

In [116]:
neigh = KNeighborsClassifier(n_neighbors = 105).fit(x__train,y__train)

In [117]:
neigh.score(x__test,y__test)

0.6357945129810348

In [118]:
neigh = KNeighborsClassifier(n_neighbors = 105).fit(X_train,y_train)

In [119]:
y_pred = neigh.predict(X_test)

In [120]:
y_pred = pd.DataFrame(y_pred)
y_pred.head()

   0
0  1
1  0
2  1
3  0
4  1

In [121]:
impression_id = pd.DataFrame(test_df['impression_id'])

In [122]:
submit_df = pd.concat([impression_id,y_pred],axis = 1)

In [123]:
submit_df.head()

                      impression_id  0
0  a9e7126a585a69a32bc7414e9d0c0ada  1
1  caac14a5bf2ba283db7708bb34855760  0
2  13f10ba306a19ce7bec2f3cae507b698  1
3  39c4b4dc0e9701b55a0a4f072008fb3f  0
4  bf5a572cca75f5fc67f4b14e58b11d70  1

In [124]:
submit_df.to_csv('submission.csv')

In [149]:
from sklearn.naive_bayes import GaussianNB
nbmodel=GaussianNB()
nbmodel.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [55]:
ypred=nbmodel.predict(X_test)

In [56]:
gaussiandf=pd.DataFrame(ypred)

In [57]:
overallnbdf = pd.merge(impression_id,gaussiandf,left_index=True,right_index=True)

In [58]:
overallnbdf.to_csv(r'C:\Users\Varun Kurup\Documents\nbsubmission.csv')

In [126]:
from xgboost import XGBClassifier

In [127]:
modelx=XGBClassifier()
modelx.fit(x__train,y__train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [128]:
y_predt=modelx.predict(x__test)

In [129]:
from sklearn.metrics import f1_score
xgb_f1=f1_score(y__test,y_predt,average='weighted')
print(xgb_f1)

0.6381861772278095

In [150]:
nbmodel.fit(x__train,y__train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [151]:
ypred_nb=nbmodel.predict(x__test)

In [152]:
from sklearn.metrics import f1_score
xgb_f1=f1_score(y__test,ypred_nb,average='weighted')
print(xgb_f1)

0.5246516376004183

In [131]:
from sklearn.ensemble import AdaBoostClassifier

In [132]:
adamodel=AdaBoostClassifier()
adamodel.fit(x__train,y__train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)

In [133]:
y_ada=adamodel.predict(x__test)

In [134]:
from sklearn.metrics import f1_score
ada_f1=f1_score(y__test,y_ada,average='weighted')
print(ada_f1)

0.6255563394321958

In [135]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
Dps = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,20,21,22,23,24,25]
meantesacc = []
meantrainacc = []
ConfustionMx = []
for d in Dps:
    dtc=DecisionTreeClassifier(criterion="entropy",max_depth=d)
    dtc.fit(x__train,y__train)
    meantrainacc.append(metrics.accuracy_score(y__train,dtc.predict(x__train)))
    meantesacc.append(metrics.accuracy_score(y__test,dtc.predict(x__test)))


meantesacc

[0.5376542073283005,
 0.5978641134229423,
 0.6153562879764316,
 0.6197753636531026,
 0.6254833364021359,
 0.6367151537470079,
 0.6392929478917326,
 0.6402135886577057,
 0.637635794512981,
 0.637635794512981,
 0.6374516663597865,
 0.6387405634321488,
 0.6372675382065918,
 0.6416866138832628,
 0.6418707420364573,
 0.6409501012704842,
 0.6378199226661757,
 0.6381881789725649,
 0.6381881789725649,
 0.6383723071257595,
 0.6383723071257595,
 0.6385564352789541,
 0.6383723071257595]

In [39]:
from sklearn.tree import DecisionTreeClassifier

In [49]:
dtc1=DecisionTreeClassifier(criterion='entropy',max_depth=100)

In [50]:
dtc1.fit(x__train,y__train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=200,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [51]:
yhat3=dtc1.predict(x__test)

In [53]:
from sklearn.metrics import f1_score
dc_f1=f1_score(y__test,yhat3,average='weighted')
print(dc_f1)

0.6215701145060887

In [153]:
from sklearn.ensemble import AdaBoostClassifier
classifier=AdaBoostClassifier(DecisionTreeClassifier(max_depth=21),n_estimators=200)
classifier.fit(x__train,y__train)

AdaBoostClassifier(algorithm='SAMME.R',
                   base_estimator=DecisionTreeClassifier(class_weight=None,
                                                         criterion='gini',
                                                         max_depth=21,
                                                         max_features=None,
                                                         max_leaf_nodes=None,
                                                         min_impurity_decrease=0.0,
                                                         min_impurity_split=None,
                                                         min_samples_leaf=1,
                                                         min_samples_split=2,
                                                         min_weight_fraction_leaf=0.0,
                                                         presort=False,
                                                         random_state=None,
                                                         splitter='best'),
                   learning_rate=1.0, n_estimators=200, random_state=None)

In [154]:
y_hat7=classifier.predict(x__test)

In [155]:
from sklearn.metrics import f1_score
adadcf1=f1_score(y__test,y_hat7,average='weighted')
print(adadcf1)

0.6397796211600564

In [57]:
import lightgbm as ltb

In [156]:
modellgb=ltb.LGBMClassifier()

In [157]:
modellgb.fit(x__train,y__train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [158]:
yhat5=modellgb.predict(x__test)

In [159]:
from sklearn.metrics import f1_score
lgbmf1=f1_score(y__test,yhat5,average='weighted')
print(lgbmf1)

0.6456010962244388

In [142]:
modellgb.fit(X_train,y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [145]:
yhatr3=modellgb.predict(X_test)

In [146]:
dflgbm=pd.DataFrame(yhatr3)

In [147]:
dfoverallgbm=pd.merge(impression_id,dflgbm,left_index=True,right_index=True)

In [148]:
dfoverallgbm.to_csv(r'C:\Users\Varun Kurup\Documents\lgbmsubmission.csv')

In [34]:
train_df['os_version'].replace(to_replace=['old','latest','intermediate'],value=[0,1,2],inplace=True)

In [74]:
x_process=train_df[['os_version','is_4G','is_click','app_code']]

In [75]:
cc_0, cc_1 = x_process.is_click.value_counts()
x_process.is_click.value_counts()

0    226747
1     10862
Name: is_click, dtype: int64

In [76]:
df_c_0 = x_process[x_process['is_click'] == 0]
df_c_1 = x_process[x_process['is_click'] == 1]

In [77]:
df_c_0_under = df_c_0.sample(cc_1)

In [78]:
x_test_under=pd.concat([df_c_0_under,df_c_1])

In [79]:
x_test_under.head()
x_test_under.shape

(21724, 4)

In [80]:
xtrain=x_test_under[['os_version','is_4G','app_code']]

In [81]:
ytrain=x_test_under[['is_click']]
ytrain.shape

(21724, 1)

In [85]:
test_df['os_version'].replace(to_replace=['old','latest','intermediate'],value=[0,1,2],inplace=True)
Xtest=test_df[['os_version','is_4G','app_code']]

In [86]:
from sklearn.model_selection import train_test_split
xtrain1,xtest1,ytrain1,ytest1= train_test_split(xtrain,ytrain,test_size=0.3,random_state=1,stratify=ytrain)

In [87]:
xtrain1.shape

(15206, 3)

In [88]:
ytrain1.shape

(15206, 1)

In [89]:
import lightgbm as ltb

In [90]:
modellgb=ltb.LGBMClassifier()

In [91]:
modellgb.fit(xtrain1,ytrain1)

C:\Users\Varun Kurup\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Varun Kurup\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [92]:
ypredrt4=modellgb.predict(xtest1)

In [93]:
from sklearn.metrics import f1_score
lgbm1f1=f1_score(ytest1,ypredrt4,average='weighted')
print(lgbm1f1)

0.6262388053572903

In [1]:
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM

Using TensorFlow backend.